* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #fe899c;
  overflow: hidden;
  background-color: #ffabb9;
  font-family: "Poppins", Arial, sans-serif;
}

.heart {
  position: absolute;
  width: 1.25rem;
  /* 20px / 16 */
  height: 1.25rem;
  /* 20px / 16 */
  background-color: #ff4d6d;
  clip-path: path("M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z");
  animation: float 8s linear infinite;
  transform-origin: center;
}

@keyframes float {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }

  100% {
    transform: translateY(-10vh);
    opacity: 0;
  }
}

#passcode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 179, 192);
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: hidden;
}

.passcode-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  /* 20px / 16 */
  border-radius: 0.46875rem;
  /* 7.5px / 16 */
  background-color: white;
  gap: 0.625rem;
  /* 10px / 16 */
  font-weight: 700;
  width: 12.5rem;
  /* 200px / 16 */
  white-space: nowrap;
}

.passcode-input div {
  flex-grow: 1;
  min-width: 6.25rem;
  /* 100px / 16 */
  font-size: 1rem;
  /* 16px / 16 */
  text-align: center;
}

.passcode-input svg {
  flex-shrink: 0;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
  /* 20px / 16 */
  margin-top: 1.25rem;
  /* 20px / 16 */
}

.key {
  width: 3.125rem;
  /* 50px / 16 */
  height: 3.125rem;
  /* 50px / 16 */
  border-radius: 20%;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
}

.key:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.key:active {
  transform: scale(0.90);
}

.clue {
  width: 100%;
  color: white;
  width: 50%;
  margin-top: 1.25rem;
  /* 20px / 16 */
  font-size: 0.75rem;
  /* 12px / 16 */
  font-style: italic;
  text-align: center;
}

#love {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.625rem;
  /* 10px / 16 */
  gap: 0.625rem;
  /* 10px / 16 */
  z-index: 999;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  /* 20px / 16 */
  background-color: rgba(255, 212, 212, 0.9);
  border-radius: 0.46875rem;
  /* 7.5px / 16 */
  width: 100%;
  padding: 1.25rem;
  /* 20px / 16 */
  color: #ff627c;
  position: relative;
}

header .love-1 {
  position: absolute;
  top: -1.5rem;
  /* -24px / 16 */
  left: -0.5rem;
  /* -8px / 16 */
  color: #ff6a85;
}

header img {
  width: 3.75rem;
  /* 60px / 16 */
  border-radius: 50%;
  object-fit: cover;
}

.love-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  /* 20px / 16 */
}

.love-header p {
  font-size: 0.75rem;
  /* 12px / 16 */
  color: rgb(255, 103, 128);
}

.love-timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 212, 212, 0.8);
  border-radius: 0.46875rem;
  /* 7.5px / 16 */
  padding: 1.25rem;
  /* 20px / 16 */
}

.love-timer h3 {
  color: rgb(255, 103, 128);
  margin-bottom: 0.3125rem;
  /* 5px / 16 */
}

.timer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}

.time-unit {
  margin: 0 0.625rem 1.25rem;
  /* 10px / 16, 20px / 16 */
  text-align: center;
}

.time-number {
  font-size: 2rem;
  font-weight: bold;
  color: #ff8a9d;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(255, 255, 255, 0.5);
  /* 2px / 16, 2px / 16, 4px / 16 */
}

.time-label {
  font-size: 0.9rem;
  color: rgb(255, 103, 128);
  font-weight: 500;
}

.love-letter-container {
  margin-top: 0.625rem;
  /* 10px / 16 */
}

.love-letter,
.btn-container button,
.playlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  /* 5px / 16 */
  padding: 0.5rem 1rem;
  /* 8px / 16, 16px / 16 */
  border-style: none;
  border-radius: 1.25rem;
  /* 20px / 16 */
  color: white;
  background: linear-gradient(25deg, #ff8286, #ffd2c6);
  font-weight: 500;
}

.playlist-btn {
  padding: 0.5rem 3rem;
}

.love-letter {
  padding: 0.5rem 3rem;
  /* 8px / 16, 48px / 16 */
}

.love-letter:hover,
.btn-container button:hover,
.playlist-btn:hover {
  transform: scale(1.05);
  background: rgba(255, 101, 101, 0.2);
}

.love-letter:active,
.btn-container button:active,
.playlist-btn:active {
  transform: scale(0.9);
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  /* 20px / 16 */
  gap: 0.625rem;
  /* 10px / 16 */
  position: relative;
}

.timer::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.1875rem;
  /* 3px / 16 */
  background-color: #ff8a9d;
  position: absolute;
  bottom: 5%;
  left: 0;
}

#love-letter-display {
  display: none;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 101;
  background-color: rgba(230, 230, 250, 0.628);
  overflow: hidden;
  text-align: justify;
  font-family: "Playfair Display", serif;
}

.love-letter-bg {
  padding: 1.25rem;
  /* 20px / 16 */
  margin-top: 1.25rem;
  /* 20px / 16 */
  margin-bottom: 1.25rem;
  /* 20px / 16 */
  background-color: rgba(255, 212, 212, 0.8);
  width: 90%;
  position: relative;
  border-radius: 0.3125rem;
  /* 5px / 16 */
  color: #ff627c;
}

.love-letter-bg h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.love-letter-bg p {
  margin-top: 0.625rem;
  /* 10px / 16 */
  font-size: 1rem;
}

.loml {
  font-weight: 700;
  font-size: 1.2rem;
  white-space: nowrap;
  font-style: italic;
}

.ttd {
  width: 90%;
  display: flex;
  justify-content: end;
  font-weight: 500;
  margin-bottom: 2.5rem;
  /* 40px / 16 */
  position: relative;
}

.ttd svg {
  position: absolute;
  bottom: 1.875rem;
  /* 30px / 16 */
  right: 0;
}

.exit-btn {
  position: absolute;
  top: 0.625rem;
  /* 10px / 16 */
  right: 0.625rem;
  /* 10px / 16 */
  cursor: pointer;
}

#flor-display {
  display: none;
  overflow: hidden;
}

.flor-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* 20px / 16 */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  background-color: rgba(230, 230, 250, 0.797);
}

.flor-container .exit-btn,
.music-container .exit-btn {
  top: 1.25rem;
  /* 20px / 16 */
  right: 1.25rem;
  /* 20px / 16 */
}

.flor-container h2 {
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.flor-container img {
  width: 80%;
}

#music-display {
  display: none;
  overflow: hidden;
}

.music-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* 20px / 16 */
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  background-color: rgba(230, 230, 250, 0.797);
  padding: 1.25rem;
  /* 20px / 16 */
}

.music-container>h2 {
  position: absolute;
  top: 1.25rem;
  /* 20px / 16 */
  left: 1.25rem;
  /* 20px / 16 */
  font-size: 1.4rem;
  width: 70%;
}

.musics {
  width: 100%;
  margin-top: 6.25rem;
  /* 100px / 16 */
  margin-bottom: 2.5rem;
  /* 40px / 16 */
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* 20px / 16 */
  align-items: center;
}

.music-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff42;
  border-radius: 0.625rem;
  /* 10px / 16 */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  /* 4px / 16, 8px / 16 */
  overflow: hidden;
  width: 18.75rem;
  /* 300px / 16 */
  text-align: center;
  padding: 0.625rem;
  /* 10px / 16 */
  gap: 0.9375rem;
  /* 15px / 16 */
}

.music-card:hover {
  transform: scale(1.1);
}

.music-card:active {
  background-color: #ffffffa9;
}

.album-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover {
  width: 5rem;
  /* 80px / 16 */
  border-radius: 0.625rem;
  /* 10px / 16 */
}

.music-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 80%;
}

.music-info h2 {
  margin: 0;
  font-size: 1em;
}

.music-info p {
  font-size: 0.7em;
  color: #272727;
  font-weight: 500;
}

.custom-audio-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.625rem;
  /* 10px / 16 */
  gap: 0.625rem;
  /* 10px / 16 */
}

.custom-audio-player button {
  background: linear-gradient(25deg, #ff8286, #ffd2c6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 2.1875rem;
  /* 35px / 16 */
  height: 2.1875rem;
  /* 35px / 16 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seek-bar {
  accent-color: pink;
}

#music-display a {
  text-decoration: none;
}
